<h1>Add new property</h1>
<h2>Please fill out the form</h2>

<%= form_for :property, url: properties_path do |f| %>

<p>
    <%= f.label :address %>
    <br>
    <%= f.text_field :address %>
</p>

<p>
    <%= f.label :zipcode %>
    <br>
    <%= f.text_field :zipcode %>
</p>

<p>
    <%= f.label :city %>
    <br>
    <%= f.text_field :city %>
</p>

<p>
    <%= f.label :price %>
    <br>
    <%= f.text_field :price %>
</p>

<p>
    <%= f.label :size %>
    <br>
    <%= f.text_field :size %>
</p>

<p>
    <%= f.label :num_bedrooms, "Number of Bedrooms" %>
    <br>
    <%= f.text_field :num_bedrooms %>
</p>

<p>
    <%= f.label :num_bathrooms, "Number of Bathrooms" %>
    <br>
    <%= f.text_field :num_bathrooms %>
</p>

<p>
    <%= f.label :property_type, "Property Type" %>
    <br>
    <%= f.text_field :property_type %>
</p>

<p>
  <%= f.label :lat, "Latitude" %>
    <br>
    <%= f.text_field :lat %>
</p>

<p>
  <%= f.label :lon, "Longitude" %>
    <br>
    <%= f.text_field :lon %>
</p>



<p>
    <%= f.submit  %>
</p>

<% end %>
