<div class="leftContainer container">
  <div id="porpertyListingTitle">
    <h1>Vinsamlegast fyllið út eftirfarandi form</h1>
  </div>

  <%= form_for :property, url: properties_path do |f| %>
<div class="flexContainer">
  <div class="flexChild">

    <p>
        <%= f.label :address, "Heimilisfang" %>
        <br>
        <%= f.text_field :address %>
    </p>

    <p>
        <%= f.label :zipcode, "Póstnúmer" %>
        <br>
        <%= f.text_field :zipcode %>
    </p>

    <p>
        <%= f.label :city, "Borg/Bær" %>
        <br>
        <%= f.text_field :city %>
    </p>

    <p>
        <%= f.label :price, "Leiguverð" %>
        <br>
        <%= f.text_field :price %>
    </p>

    <p>
        <%= f.label :size, "Fermetrar" %>
        <br>
        <%= f.text_field :size %>
    </p>

    <p>
        <%= f.label :num_bedrooms, "Fjöldi svefnherbergja" %>
        <br>
        <%= f.text_field :num_bedrooms %>
    </p>

    <p>
        <%= f.label :num_bathrooms, "Fjöldi baðherbergja" %>
        <br>
        <%= f.text_field :num_bathrooms %>
    </p>

  </div>
  <div class="flexChild">

    <p>
        <%= f.label :property_type, "Tegund húsnæðis" %>
        <br>
        <%= f.select(:property_type,
        options_for_select([['Einbýlishús', 'Einbýlishús'],
        ['Fjölbýlishús', 'Fjölbýlishús'],
        ['Parhús', 'Fjölbýlishús']])) %>
    </p>

    <p>
      <%= f.label :lat, "Latitude" %>
        <br>
        <%= f.text_field :lat %>
    </p>

    <p>
      <%= f.label :lon, "Longitude" %>
        <br>
        <%= f.text_field :lon %>
    </p>

    <p>
      <%= f.label :image1, "Forsíðumynd" %>
        <br>
        <%= f.file_field :image1 %>
    </p>

    <p>
      <%= f.label :image2, "Mynd 2" %>
        <br>
        <%= f.file_field :image2 %>
    </p>

    <p>
      <%= f.label :image3, "Mynd 3" %>
        <br>
        <%= f.file_field :image3 %>
    </p>

    <p>
      <%= f.label :image4, "Mynd 4" %>
        <br>
        <%= f.file_field :image4 %>
    </p>

  </div>

</div>

  <p id="newDescription">
      <%= f.label :description, "Lýsing" %>
      <br>
      <%= f.text_area :description, rows: "15" %>
  </p>

  <p>
      <%= f.submit  %>
  </p>

  <% end %>

</div>

<div class="rightContainer container">
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qF171O_qBdXdwSLnH07kFDtbCk5M1CY&callback=initNewPropertyMap"></script>
</div>
