<div class="container">
  <div class="infoContainer container">
    <div class="header">
      <h1> <%= image_tag @user.image_url %> <%= @user.first_name%> <%= @user.last_name %></h1>
    </div>
    <div class="info">
        <h3>Upplýsingar:<h3>
        <p>Aldur:  <%= @user.age_range %></p>
        <p>Kyn: <%= @user.gender %></p>
        <p>Símanúmer: <%= @user.phone_number %></p>
        <p>Tölvupóstfang:  <%= @user.email %></p>
    </div>
    <p id="about"> <%= @user.personal_info %></p>
  </div>
  <div class="addInfo">
    <% if current_user == @user %>
      <p><%= link_to 'Breyta upplýsingum', '/profile/'+@user.id.to_s+'/edit_profile'%></p>
    <% else %>
      <p><%= link_to 'Hafa samband', @user.url %> við <%= @user.first_name %></p>
      <% end %>
  </div>

  <div class="propertyContainer container">
    <h2>Leigueignir:</h2>
    <table class="properties">
      <tr>
        <th>Mynd</th>
        <th>Heimilisfang</th>
        <th>Póstnúmer</th>
        <th>Staðsetning</th>
        <th>Stærð</th>
        <th>Leiguverð á mán</th>
        <th>Skoða</th>
      </tr>
      <% @properties.each do |property| %>
      <tr>
        <td><%= image_tag property.image1.url  %></td>
        <td><%= property.address %></td>
        <td><%= property.zipcode %></td>
        <td><%= property.city %></td>
        <td><%= property.size %></td>
        <td><%= number_with_delimiter(property.price, delimiter: ".") %></td>
        <td><%= link_to 'Skoða eign', property_path(property) %></td>
      </tr>
      <% end %>
    </table>
    <br>
  </div>
</div>
